footer {
  background-color: black;
  color: white;
  height: 20vh;
}

footer ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
footer a {
  color: white;
}

footer ul li {
  display: flex;
  text-decoration: none;
  margin-left: 100px;
  cursor: pointer;
}
