.second {
  background-color: black;
  color: white;
  height: 100%;
  /* margin-bottom: 100px; */
}
.second .launches .l {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px 10px;
  margin-left: 25px;
}

.second .launches .l img {
  width: 90%;
  height: 50vh;
  margin-top: 40px;
}
.second .launches button {
  height: 50px;
  width: 150px;
  margin-top: 20px;
  background-color: black;
  color: white;
  font-weight: 900;
  font-size: 20px;
  border: 2px solid white;
  cursor: pointer;
  transition: 0.8s;
}

.second .launches h1 {
  margin-top: 55px;
  margin-bottom: 15px;
  font-family: "Familjen Grotesk", sans-serif;
}

.total {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.total .totalLaunches .numberTitle,
.totalLandings .numberTitle,
.totalReflights .numberTitle {
  font-size: 30px;
}

.total .totalLaunches,
.totalLandings,
.totalReflights {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.total .num {
  font-size: 150px;
}

.second .launches button:hover {
  background-color: white;
  color: black;
}

@media (max-width: 1100px) {
  .second .launches {
    display: grid;
    grid-template-columns: 1fr;
    gap: 50px;
  }
}

.pagination {
  text-align: center;
  margin: 30px 30px 60px;
  user-select: none;
}

.pagination li {
  display: inline-block;
  margin: 5px;
  box-shadow: 0px 5px 25px rgb(1 1 1/10%);
}

.prev-page,
.next-page,
.start-page,
.end-page {
  background-color: red;
  width: 80px;
  border-radius: 45px;
  cursor: pointer;
  transition: 0.3s ease;
  font-size: 1.2em;
  line-height: 45px;
}

.prev-page:hover,
.start-page:hover {
  transform: translateX(-5px);
}

.next-page:hover,
.end-page:hover {
  transform: translateX(5px);
}

.current-page {
  background-color: #ccc;
  width: 45px;
  border-radius: 50%;
  cursor: pointer;
  background-color: #ccc;
  width: 45px;
  border-radius: 50%;
  cursor: pointer;
  color: white;
  text-decoration: none;
  font-size: 1.2em;
  line-height: 45px;
}

.active {
  background-color: blue;
}

.disable {
  background-color: #ccc;
}
